-r doc-min-requirements.txt
tensorflow-cpu<=2.12.0
pyspark
datasets
# nbsphinx and ipython are required for jupyter notebook rendering
nbsphinx==0.8.8
# ipython 8.7.0 is an incompatible release
ipython!=8.7.0
keras-core
torch>=1.11.0
torchvision>=0.12.0
lightning>=1.8.1
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
